{% extends 'ECOM/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<br>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		{% if messages %}
			  		{% for message in messages %}
			  		<h5 class="card-title {{ message.tags }}" style="color:black;">{{message}}</h5>
			  		{% endfor %}
			  		{% endif %}
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid mt-5 setWidth ">
	<div class="jumbotron">
<div class="row">
	<div class="col-md-4">
		<h5>PLACE ORDER</h5>
		<hr>
		<div class="card-body">
  	<h3>{{getProductID.name}}</h3>
    <h5 class="card-title" style="text-align: right;">PRICE : {{getProductID.price}}</h5>
    <!-- <p class="card-text" style="text-align: right;">{{getProductID.description}}</p> -->
    <form method = "POST">
    	{% csrf_token %}
    	{{form|crispy}}
    	<br>
    	<input class="btn float-right btn-outline-secondary col-lg-12" type=submit value="Save" />
    </form>
    <br>
  </div>
	</div>
	<div class="col-md-8">
		<h5>ORDER HISTORY</h5>
		<hr>
		<div class="card card-body">
			
			<table class="table table-sm">
				
				<tr>
					<th>Customer Order</th>
					<th>Product</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Total Price</th>
					<th>Update</th>
					<th>Remove</th>
					<th>Make Payment</th>
				</tr>
				{% for cart in getPerOrderWithProductID %}
				<tr>
					<td>{{cart.customer.name}}</td>
					<td>{{cart.product.name}}</td>
					<td>{{cart.date}}</td>
					<td>{{cart.status}}</td>
					<td>{{cart.product.price}} * {{cart.quantity}} = {{cart.price}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'updateOrder' cart.id %}">Update</a></td>

						<td><a class="btn btn-sm btn-danger" href="{% url 'deleteOrder' cart.id %}">Delete</a></td>
						<td><a class="btn btn-sm btn-primary" href="{% url 'paytm' cart.id %}">Make Payment</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
</div>
</div>	
</div>




{% endblock %}