{% extends 'ECOM/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<br>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		{% if messages %}
			  		{% for message in messages %}
			  		<h5 class="card-title {{ message.tags }}" style="color:black;">{{message}}</h5>
			  		{% endfor %}
			  		{% endif %}
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid mt-5 setWidth ">
	<div class="jumbotron">
<div class="row">
	<div class="col-md-4">
		<h5>Create Products</h5>
		<hr>
		<div class="card-body">
    <form method = "POST" enctype='multipart/form-data'>
    	{% csrf_token %}
    	{{form|crispy}}
    	<br>
    	<input class="btn float-right btn-outline-secondary col-lg-12" type=submit value="Save" />
    </form>
    <br>
  </div>
	</div>
	<div class="col-md-8">
		<h5>PRODUCTS</h5>
		<hr>
		<div class="card card-body">
			
			<table class="table table-sm">
				
				<tr>
					<th>Name</th>
					<th>Image File</th>
					<th>Description</th>
					<th>Price</th>
					<th>Category</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
				{% for product in getAllProducts %}
				<tr>
					<td>{{product.name}}</td>
					<td>{{product.image}}</td>
					<td>{{product.description}}</td>
					<td>{{product.price}}</td>
					<td>{{product.category}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'updateProducts' product.id %}">Update</a></td>

						<td><a class="btn btn-sm btn-danger" href="{% url 'deleteProducts' product.id %}">Delete</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
</div>
</div>	
</div>

{% endblock %}